{% extends 'base.html' %}
{% load static %}
{% block content %}
<body style="background-color:grey">
<div class="container-fluid bg-6 text-center">
 <i> <h1> <b> Developer's Blog </b></h1>
     <br>
     <br>
     <h3>Developers around the world share the desire to write, debug, and ship code day in and day out.</h3>
   <h3>It’s not an easy job since most of the time you’re constantly learning on the fly. </h3>
   <h3>But with great study and work habits, becoming an experienced web developer is attainable.</h3>
   <h3>There are several developers out there who like to share their experience with others.</h3>
  <h3> It’s tough to glean insights from every top techie that may have a blog, </h3>
   <h3> but there are definitely some top web developer blogs and publications worth the read. </h3>
   </i>

</div>
</body>
{% endblock %}