{% extends 'base.html' %}
{% load static %}
{% block content %}
<body style="background-color:grey">
<div class="container-fluid bg-6 text-center">
  <img src="{% static 'image/dp.jpg' %}" class="img-responsive img-circle margin" style="display:inline" alt="Code" width="300" height="300">
  <i>
  <h3>Name     : Abhijit Rodaboyana</h3>
  <h3>Position : Python Developer</h3>
  <h3>Contact  : 9322012397</h3>
  <h3>Address  : Secunderabad</h3>
  <h3>Email    : abhijit.rodaboyana@ojas-it.com</h3></i>
</div>
</body>
{% endblock %}