{% extends 'base.html' %}
{% load static %}
{% block content %}
<body style="background-color:grey">
<div class="container-fluid bg-6 text-center">
  <img src="{% static 'image/dp.jpg' %}" class="img-responsive img-circle margin" style="display:inline" alt="Code" width="300" height="300">
  <i>
  <h3>Name     : <b>Abhijit Rodaboyana</b></h3>
  <h3>Profile : <b>Python Developer</b></h3>
  <h3>Contact  : <b>9322012397</b></h3>
  <h3>Address  : <b>Secunderabad</b></h3>
  <h3>Email    : <b>abhijit.rodaboyana@ojas-it.com </b></h3>

  <h4></h4>
    </i>
</div>
</body>
{% endblock %}